@import "@fontsource-variable/inter" layer(base);
@import "@fontsource-variable/newsreader" layer(base);
@import "@fontsource/jetbrains-mono" layer(base);

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--text-main: #171717;
	--bg-main: #f2f1ec;
	--bg-muted: #eae9e1;
	--border-main: #171717;
}

html {
	--font-monospace-code: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
	html {
		--text-main: #f2f1ec;
		--bg-main: #171717;
		--bg-muted: #242424;
		--border-main: #f2f1ec;
	}
}

html.dark,
[color-scheme="dark"] {
	--text-main: #f2f1ec;
	--bg-main: #171717;
	--bg-muted: #242424;
	--border-main: #f2f1ec;
}

@theme inline {
	--font-sans: "Inter Variable", sans-serif;
	--font-serif: "Newsreader Variable", serif;
	--font-mono: "JetBrains Mono", monospace;
	--text-color-main: var(--text-main);
	--background-color-main: var(--bg-main);
	--background-color-muted: var(--bg-muted);
	--border-color-main: var(--border-main);
}

@layer utilities {
	.prose {
		--tw-prose-body: var(--text-color-main);
		--tw-prose-headings: var(--text-color-main);
		--tw-prose-lead: var(--text-color-main);
		--tw-prose-links: var(--text-color-main);
		--tw-prose-bold: var(--text-color-main);
		--tw-prose-counters: var(--text-color-main);
		--tw-prose-bullets: var(--text-color-main);
		--tw-prose-hr: var(--border-color-main);
		--tw-prose-quotes: var(--text-color-main);
		--tw-prose-quote-borders: var(--border-color-main);
		--tw-prose-captions: var(--text-color-main);
		--tw-prose-kbd: var(--text-color-main);
		--tw-prose-code: var(--text-color-main);
		--tw-prose-th-borders: var(--border-color-main);
		--tw-prose-td-borders: var(--border-color-main);
	}

	.prose a {
		@apply font-normal underline decoration-dashed decoration-1 underline-offset-2 hover:decoration-solid;
	}

	.prose :where(h1, h2, h3, h4, h5, h6) {
		@apply font-serif font-medium;
	}

	.prose :where(code, strong) {
		@apply font-medium;
	}

	.prose blockquote {
		@apply border-none pl-0 font-serif text-[1.375em] leading-snug font-normal italic sm:text-[1.66667em];
	}

	.prose pre::-webkit-scrollbar {
		height: 6px;
		width: 6px;
	}

	.prose pre::-webkit-scrollbar-track {
		background-color: black;
		border-radius: 4px;
	}

	.prose pre::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 6px;
		width: 5px;
	}
}

.prose :is(ul) {
	list-style-type: disc;
}

code:not(.shiki code) {
	@apply rounded-sm bg-muted p-0.5;
}

.shiki .diff.add {
	@apply inline-block w-full bg-green-400/20;
}
.shiki .diff.add::before {
	content: "+ ";
}

.shiki .line.remove {
	@apply inline-block w-full bg-red-400/20;
}

.shiki .line.remove::before {
	content: "- ";
}

.shiki .line.highlighted {
	@apply inline-block w-full bg-white/10;
}

.code-block-container {
	@apply my-[2em] rounded-md bg-muted md:my-[1.7142857em];
	border: 1px solid #4b4b52;
}

.code-block-container pre {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 8px 16px;
}

.code-block-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 8px 4px 16px;
	opacity: 0.8;
}

.code-block-header p {
	margin: 0;
}

.code-filename {
	@apply text-sm;
}

.code-block-header .code-copy-button {
	@apply cursor-pointer rounded-md bg-transparent p-1.5 text-xs;
}
